
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header {
    flex: 0 4rem;
    display: flex;
    align-items: center;
    background-color: gray;
}
main {
    flex: 1;
}
footer {
    flex: 0 0.5rem;
    background-color: gray;
}

@media screen and (max-width: 500px) {
    header {
        flex: 0 2rem;
    }
    footer {
        flex: 0 0.25rem;
    }
}

.navbar {
    padding-left: 1rem;
}



.login_form {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}



.game_images_and_log_and_username_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}


.username_and_score_container {
    flex: 0 4rem;
}

.username_and_score_container_internal {
    display: flex;
    background-color: lightgray;
    align-items: start;
    flex-direction: column;
    align-items: end;
}
.username_text {
    padding-right: 0.5rem;
    text-align: right;
}
@media screen and (max-width: 700px) {
    .username_text {
        padding-right: 0.5rem;
        font-size: 100%;
        text-align: right;
    }
}


.game_log_container {
    flex: 1;
    text-align: right;
    background-color: darkgray;
}
.game_log_container > * {
    padding-right: 1rem;
}


.game_images_and_buttons_and_username_container {
    flex: 4;
    display: flex;
}

.game_images_and_buttons_container {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game_buttons_container {
    flex: 0 8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    .game_buttons_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.game_button_fight {
    flex: 1;
    font-size: 275%;
}

.game_buttons_container_internal {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 50%;
}

.game_button_heal {
    flex: 1;
    font-size: 300%;
}

.game_button_run {
    flex: 1;
    font-size: 150%;
}

.game_images_container_internal {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.game_images_hearts_container {
    flex: 0.25;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}
.game_images_hearts_container_internal {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.player_hearts {
    transform: translate(0, 10rem);
}

.heart_image {
    width: 3em;
    height: auto;
}
.hero_image {
    width: auto;
    height: 30vh;
}
.monster_image {
    width: auto;
    height: 60vh;
}


@media screen and (max-width: 1000px) {
    .hero_image {
        width: auto;
        height: 20vh;
    }
    .monster_image {
        width: auto;
        height: 40vh;
    }
    .player_hearts {
        transform: translate(-10%, 10rem);
    }
}

@media screen and (max-width: 650px) {
    .hero_image {
        width: auto;
        height: 7rem;
    }
    .monster_image {
        width: auto;
        height: 15rem;
    }
    .heart_image {
        width: 1em;
        height: auto;
    }
    .game_images_hearts_container {
        gap: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .hero_image {
        width: auto;
        height: 5rem;
    }
    .monster_image {
        width: auto;
        height: 10rem;
    }
    .player_hearts {
        transform: translate(-20%, 5rem);
    }
}
