
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 95vw;
    overflow-x: hidden;
}
header {
    flex: 0 20rem;
}
main {
    flex: 1;
}
footer {
    flex: 0 2rem;
}


.navbar-brand {
    font-size: 500%;
}
.nav-link {
    font-size: 300%;
}


.game_buttons_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 35vw;
    padding-right: 35vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    .game_buttons_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
        padding-left: 25vw;
        padding-right: 25vw;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.game_button_fight {
    flex: 1;
    font-size: 275%;
}

.game_buttons_container_internal {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 50%;
}

.game_button_heal {
    flex: 1;
    font-size: 300%;
}

.game_button_run {
    flex: 1;
    font-size: 150%;
}


.game_images_and_log_container {
    display: flex;
    flex-direction: row;
}

.game_log_container {
    flex: 1;
    text-align: right;
}

.game_images_container {
    flex: 2;
    display: flex;
    align-items: baseline;
}

.hero_image {
    width: 20vw;
    height: auto;
}
.monster_image {
    width: 30vw;
    height: auto;
}
